body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  margin: 3rem;
  border-radius: 2rem;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.28);
  max-height: 20rem;
  max-width: 20rem;
}

p {
  margin: 3rem;
  max-width: 50%;
}

.style1 {
  margin: 3rem;
}
