<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Earthquake Concern by Age</title>
    <link rel="stylesheet" href="/css/css.css" />
    <link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="/css/templates.css" />
    <script
      src="https://cdn.plot.ly/plotly-2.27.0.min.js"
      charset="utf-8"
    ></script>
  </head>
  <body>
    <div class="off-canvas-wrapper borderLine">
      <!-- Menu -->
      <ul class="horizontal menu">
        <li><a href="../index.html">Home</a></li>
        <li><a href="../age/18-29">Age</a></li>
        <li><a href="../income/0-9999">Income</a></li>
        <li><a href="../region/ne">Region</a></li>
      </ul>
    </div>
    <h2>Earthquake Concern by Age</h2>
    <p style="font-style: italic">People aged $AGE_GROUP$</p>
    <img src="$IMG_SOURCE$" alt="$IMG_ALT$" style="max-width: 300px; max-height: 300px;">
    <!-- Placeholders for Previous and Next links -->
    <a href="$PREV_LINK$" id="prevLink">Previous</a>
    <a href="$NEXT_LINK$" id="nextLink">Next</a>

    <br />
    <hr />
    <br />
    <h4>How worried about earthquakes is this group?</h4>
    <div id="worryplot" style="width: 50%"></div>
    <table class="datatable">
      <thead>
        <tr>
          <th>Concern Level</th>
          <th>Number of People</th>
        </tr>
      </thead>
      <tbody>
        $TABLE_DATA$
      </tbody>
    </table>
    <br />
    <hr />
    <br />
    <h4>
      How many people in this group have actually experienced an earthquake?
    </h4>
    <div id="experienceplot" style="width: 50%"></div>
    <table class="datatable">
      <thead>
        <tr>
          <th>Experienced Earthquake?</th>
          <th>Number of People</th>
        </tr>
      </thead>
      <tbody>
        $TABLE_DATA2$
      </tbody>
    </table>
  </body>
  <script>
    const worryMap = $$WORRY_MAP$$;

    const worryData = [
      {
        x: [
          "Not at all worried",
          "Not so worried",
          "Somewhat worried",
          "Very worried",
          "Extremely worried",
        ],

        y: [
          worryMap["Not at all worried"],
          worryMap["Not so worried"],
          worryMap["Somewhat worried"],
          worryMap["Very worried"],
          worryMap["Extremely worried"],
        ],

        type: "bar",
      },
    ];

    const experienceMap = $$EXPERIENCE_MAP$$;

    const experienceData = [
      {
        x: ["No", "Yes, one or more minor ones", "Yes, one or more major ones"],
        y: [
          experienceMap["No"],
          experienceMap["Yes, one or more minor ones"],
          experienceMap["Yes, one or more major ones"],
        ],
        type: "bar",
      },
    ];

    Plotly.newPlot("worryplot", worryData);

    Plotly.newPlot("experienceplot", experienceData);
  </script>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const prevLink = document.getElementById("prevLink");
      const nextLink = document.getElementById("nextLink");

      prevLink.addEventListener("click", function (event) {
        event.preventDefault();
        navigateToLink(prevLink.getAttribute("href"));
      });

      nextLink.addEventListener("click", function (event) {
        event.preventDefault();
        navigateToLink(nextLink.getAttribute("href"));
      });

      function navigateToLink(link) {
        // Navigate to the specified link using JavaScript
        if (link && link !== "#") {
          window.location.href = link;
        }
      }
    });
  </script>
</html>
