<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TEMP</title>
  </head>
  <body>
    <h2>Earthquake Concern by Income</h2>
    <p>People earning $INCOME_GROUP$:</p>
    <table>
      <thead>
        <tr>
          <th>Concern Level</th>
          <th>Number of People</th>
        </tr>
      </thead>
      <tbody>
        $TABLE_DATA$
      </tbody>
    </table>
    <p></p>
    <table>
      <thead>
        <tr>
          <th>Experienced Earthquake?</th>
          <th>Number of People</th>
        </tr>
      </thead>
      <tbody>
        $TABLE_DATA2$
      </tbody>
    </table>
  </body>
</html>
