<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Earthquake Concern by Income</title>
    <script
      src="https://cdn.plot.ly/plotly-2.27.0.min.js"
      charset="utf-8"
    ></script>
    <link rel="stylesheet" href="/css/templates.css" />
  </head>
  <body>
    <h2>Earthquake Concern by Income</h2>
    <p>People earning $INCOME_GROUP$:</p>
    <!-- Placeholders for Previous and Next links -->
    <a href="$PREV_LINK$" id="prevLink">Previous</a>
    <a href="$NEXT_LINK$" id="nextLink">Next</a>

    <div id="worryplot" style="width: 50%"></div>
    <table>
      <thead>
        <tr>
          <th>Concern Level</th>
          <th>Number of People</th>
        </tr>
      </thead>
      <tbody>
        $TABLE_DATA$
      </tbody>
    </table>
    <p></p>
    <table>
      <thead>
        <tr>
          <th>Experienced Earthquake?</th>
          <th>Number of People</th>
        </tr>
      </thead>
      <tbody>
        $TABLE_DATA2$
      </tbody>
    </table>
  </body>
  <script>
    const worryMap = $$WORRY_MAP$$;

    const worryData = [
      {
        x: [
          "Not at all worried",
          "Not so worried",
          "Somewhat worried",
          "Very worried",
          "Extremely worried",
        ],

        y: [
          worryMap["Not at all worried"],
          worryMap["Not so worried"],
          worryMap["Somewhat worried"],
          worryMap["Very worried"],
          worryMap["Extremely worried"],
        ],

        type: "bar",
      },
    ];

    Plotly.newPlot("worryplot", worryData);
  </script>
  
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const prevLink = document.getElementById('prevLink');
      const nextLink = document.getElementById('nextLink');
  
      prevLink.addEventListener('click', function (event) {
        event.preventDefault();
        navigateToLink(prevLink.getAttribute('href'));
      });
  
      nextLink.addEventListener('click', function (event) {
        event.preventDefault();
        navigateToLink(nextLink.getAttribute('href'));
      });
  
      function navigateToLink(link) {
        // Navigate to the specified link using JavaScript
        if (link && link !== '#') {
          window.location.href = link;
        }
      }
    });
  </script>
</html>
